* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.one {
  background-image: linear-gradient(
    to right,
    #264653,
    #2a9d8f,
    #e9c46a,
    #f4a261,
    #e76f51
  );
}

.two {
  background-image: linear-gradient(
    to right,
    #03071e,
    #d00000,
    #faa307,
    #ffba08
  );
}

.three {
  background-image: linear-gradient(to bottom, #f94144, #f9c74f, #277da1);
}

.four {
  background-image: linear-gradient(to bottom, #d8f3dc, #52b788, #081c15);
}
